@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    font-family: 'Roboto', sans-serif;
}
.list-container {
    margin: 0 auto;
    padding: 0 20px;
  }
  
  ul,
  li {
    margin: 0;
    padding: 0;
    list-style: none;
    cursor: pointer;
  }
  

#recipe-list{
    height: calc(100vh - 190px);
    overflow: scroll;
    padding: 20px;
}
#recipe-list li{
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0px 0px 20px #fff;
}
#recipe-list li .title{
    font-size: 18px;
    font-weight: bold;
}
#recipe-list li .description{
    font-size: 14px;
    /* font-weight: bold; */
    color: #666;
}

#list-contain{
    box-shadow: 0px 0px 20px #ccc;
    background-color: #f8f8f8;
}
#recipeDetailsContainer {
    padding: 20px;
    margin-right: 30px;
    background-color: #f8f8f8;
    border-radius: 5px;
    box-shadow: 0px 0px 20px #ccc;
  }